
body { 
    width: 100vw;
    height: 100vh;
    background-color: #DAD7cd;
}
.body-content {
    display: flex;
    flex-direction: column;
    margin: 20px;
   
}
header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.cactus-logo {
    max-width: 100px;
}
/* Navbar Image OF cart */
.cartimg {
    max-width: 1.5em;
}
/* Styling for cart */
.cart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* Sizing for images INSIDE cart class */
.cart img{
    width: 15em;
}

.nav-list {
    display: flex;
    justify-content: flex-end; 
    font-style: italic;
}
.list {
    padding: 2em;
    color: #3A5A40;
}
.H1{
    color:#3A5A40
}
h2 {
    text-align: center;
    color: #3A5A40;
}
h3 {
    color: #3A5A40;
}

.product-card {
    border-style: solid;
    border-color: black;
    box-shadow: #344e41;
    padding: 2em;  
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
table,th,td {
    border: 1px solid black;
    /* flex-direction:row-reverse; */
}
.tablenone{
    border:none;
}
form {
 text-align: center;
 padding: 1em;   
}
button {
    padding: 1em;
    margin: 30px;
}
#shipping {
padding:1em;
} 
footer {
    padding: 1em;
    text-align: center;
}
  /* Added Reusable Drop Shadow Styling */
.hovernow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}
.hovernow:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

 /* Text Hover Magic */
 .texthover{
    opacity: 1;
    transition: opacity .5s ease-in-out;
  }
  .texthover:hover{
    opacity: .5;
  }