
body { 
    width: 100vw;
    height: 100vh;
}
.body-content {
    margin: 20px;
    text-align: center;
}
header {
    display: flex;
    align-items: center;
    width: 100%;
}
.cactus-logo {
    max-width: 125px;
}

.nav-list {
    display: flex;
    justify-content: flex-end; 
    
}
.list {
    padding: 1em;
}
h2 {
    text-align: center;
}
form {
 text-align: center;   
}
button {
    padding: 1em;
    margin: 20px;
}
footer {
    padding: 1em;
}